section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

.flexbox {
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}
